# Google C/C++ Code Style settings

Language: Cpp
BasedOnStyle: Google
ColumnLimit: 80

IndentWidth: 2    # Set indentation width to 2 spaces
TabWidth: 2       # Set tab width to 2 spaces
UseTab: Never     # Ensures spaces are used instead of tabs